body{
    display: grid;
    grid-template-areas: 
        "im im headOfPage"
        "im im titles"
        "im im menus"
        "im im menus"
        "im im menus"
        "im im menus";
    height: 100%;
    background-color: lightgray;
    grid-auto-flow: column;
    grid-auto-columns: 33%;

    width: 100%;
    background-size : contain; 
    background-repeat : no-repeat; 
    background-position : center;
    margin: 0px;
}

.tileDiv,.menus,header{
    margin-right: 10%;
}

.tileDiv{
    grid-area: titles;
    display: flex;
    align-items :flex-end;
    flex-direction: column;
    justify-content: center;
}

header{
    grid-area: headOfPage;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}

header h1{
    text-align: right;
}

.menus{
    grid-area: menus;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.menus>*{
    margin : 5px;
}

.mainImage{
    max-width: 90%;
    max-height: 90%;
    grid-area: im;
    justify-self: center;
    align-self: center;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: underline ;
    font-weight: bold;
}

.menus>div{
    position: relative;
    text-align: right;
    width: 100%;
}

.submenu{
    width : 300px;
    position: absolute !important;
    left:-50%;
    display: none;
    top: -2px;
}

.menus div:hover .submenu{
    display: block;
}

div{
    font-weight: bold;
}

h1,h3,a{
    display: block;
}




