img{
    display: block;
    max-height: 90%;
    width: auto;
    margin: auto;
}

body{
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: min-content auto min-content;
    margin: 0px;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    background-color: lightgray;
}

@-moz-document url-prefix() {
    body {
        grid-template-columns: 10% 80% 10% !important;
    }
}