body{
    display: grid;
    grid-template-areas: 
        "r p p p p"
        "min1 p p p p"
        "min2 p p p p"
        "min3 p p p p"
        "min4 p p p p"
        "min5 p p p p"
        "min6 p p p p"
        "n l l l l";
    height: 100%;
    width: 100%;
    margin: 0px;
    grid-auto-columns: 20%;
    background-color: lightgray;
}

body>*{
    height: 100%;
    width: 100%;
}

p{
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

.photo{
    grid-area: p;
    height: auto !important;
    max-height: 90% !important;
    width: auto !important;
    max-width: 90% !important;
    margin: auto;
    display: block;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
}

.menu img{
    display: block;
    max-width: 30%; 
    max-height: 90%;
    margin: 1%;
}

.min1{
    grid-area: min1;
}

.min2{
    grid-area: min2;
}

.min3{
    grid-area: min3;
}

.min4{
    grid-area: min4;
}

.min5{
    grid-area: min5;
}

.min6{
    grid-area: min6;
}

.legende{
    grid-area: l;
}