body{
    display: grid;
    grid-template-areas: 
        "t p p"
        "des p p"
        "des p p"
        "min1 p p"
        "min2 p p";
    height: 100%;
    width: 100%;
    margin: 0px;
    grid-auto-columns: 33%;
    grid-auto-rows: 20%;
    background-color: lightgray;
}

body h3{
    grid-area: t;
}

body>p{
    grid-area: des;
}

#mins1{
    grid-area: min1;
}

#mins2{
    grid-area: min2;
}

#mainImage{

    margin: auto;
    display: block;
    grid-area: p;
    height: 90%;
    width: 90%;
}

img{
    max-height: 90%;
    width: auto;
    display: block;
}

#mins1 img,#mins2 img{
    max-width: 33%;
    height: auto;
    margin: auto;
    display: block;
}

#mins1, #mins2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body>*:not(#mainImage){
    margin-left: 10%;
}